<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <listener>
        <listener-class>org.webpki.webapps.json.jcs.Init</listener-class>
     </listener>

    <servlet>
	    <servlet-name>RequestServlet</servlet-name>
        <servlet-class>org.webpki.webapps.json.jcs.RequestServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>org.webpki.webapps.json.jcs.HomeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>org.webpki.webapps.json.jcs.VerifyServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CreateServlet</servlet-name>
        <servlet-class>org.webpki.webapps.json.jcs.CreateServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>RequestServlet</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CreateServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    
</web-app>
