<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <context-param>
        <description>URL to bank</description>
        <param-name>bank_url</param-name>
        <param-value>@bank-url@</param-value>
    </context-param>

    <context-param>
        <description>URL to Merchant</description>
        <param-name>merchant_url</param-name>
        <param-value>@merchant-url@</param-value>
    </context-param>

    <context-param>
        <description>Card font name</description>
        <param-name>card_font</param-name>
        <param-value>@card-font@</param-value>
    </context-param>

    <context-param>
        <description>WebCrypto Use</description>
        <param-name>web_crypto</param-name>
        <param-value>@web-crypto@</param-value>
    </context-param>
    <context-param>
        <description>Bank EE Certificate</description>
        <param-name>bank_eecert</param-name>
        <param-value>@bank-eecert@</param-value>
    </context-param>
    
    <listener>
        <listener-class>org.webpki.webapps.wcppdemo.Init</listener-class>
     </listener>

    <servlet>
	    <servlet-name>MerchantServlet</servlet-name>
        <servlet-class>org.webpki.webapps.wcppdemo.MerchantServlet</servlet-class>
    </servlet>
    
    <servlet>
	    <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>org.webpki.webapps.wcppdemo.CheckoutServlet</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>AuthorizeRequestServlet</servlet-name>
        <servlet-class>org.webpki.webapps.wcppdemo.AuthorizeRequestServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>org.webpki.webapps.wcppdemo.HomeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CardServlet</servlet-name>
        <servlet-class>org.webpki.webapps.wcppdemo.CardServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>org.webpki.webapps.wcppdemo.PaymentServlet</servlet-class>
    </servlet>
    
    <servlet>
	    <servlet-name>PaymentProviderServlet</servlet-name>
        <servlet-class>org.webpki.webapps.wcppdemo.PaymentProviderServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MerchantServlet</servlet-name>
        <url-pattern>/merchant</url-pattern>
    </servlet-mapping>

    '<servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>

    '<servlet-mapping>
        <servlet-name>AuthorizeRequestServlet</servlet-name>
        <url-pattern>/authreq</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>CardServlet</servlet-name>
        <url-pattern>/cards</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>PaymentProviderServlet</servlet-name>
        <url-pattern>/transact</url-pattern>
    </servlet-mapping>
@security-constraints@    
</web-app>
