<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

  <context-param>
	<param-name>tlscertificatekeystore</param-name>
	<param-value>arxp.ks</param-value>
  </context-param>

  <context-param>
	<param-name>tlscertificatestorepass</param-name>
	<param-value>testing</param-value>
  </context-param>

  <context-param>
	<param-name>tlscertificatestoretype</param-name>
	<param-value>jks</param-value>
  </context-param>

  <context-param>
	<param-name>tlscertificatekeypass</param-name>
	<param-value>testing</param-value>
  </context-param>

  <context-param>
	<param-name>devicecakeystore</param-name>
	<param-value>deviceca.jks</param-value>
  </context-param>

  <context-param>
	<param-name>devicecastorepass</param-name>
	<param-value>testing</param-value>
  </context-param>

  <context-param>
	<param-name>devicecastoretype</param-name>
	<param-value>jks</param-value>
  </context-param>

  <context-param>
	<param-name>devicecakeypass</param-name>
	<param-value>theroot</param-value>
  </context-param>

  <context-param>
	<param-name>issuercakeystore</param-name>
	<param-value>mybankca.ks</param-value>
  </context-param>

  <context-param>
	<param-name>issuercastorepass</param-name>
	<param-value>testing</param-value>
  </context-param>

  <context-param>
	<param-name>issuercastoretype</param-name>
	<param-value>jks</param-value>
  </context-param>

  <context-param>
	<param-name>issuercakeypass</param-name>
	<param-value>theca</param-value>
  </context-param>

  <context-param>
	<param-name>want-encrypted-key</param-name>
	<param-value>true</param-value>
  </context-param>
 
  <context-param>
	<param-name>key-archival-key-keystore</param-name>
	<param-value>archivalkey.jks</param-value>
  </context-param>

  <context-param>
	<param-name>key-archival-key-storepass</param-name>
	<param-value>testing</param-value>
  </context-param>

  <context-param>
	<param-name>key-archival-key-storetype</param-name>
	<param-value>jks</param-value>
  </context-param>

  <context-param>
	<param-name>key-archival-key-keypass</param-name>
	<param-value>we-are-watching-you</param-value>
  </context-param>

  <context-param>
	<param-name>mailserver</param-name>
	<param-value>mail1.telia.com</param-value>
  </context-param>

  <context-param>
	<param-name>mailuid</param-name>
	<param-value>u18116613</param-value>
  </context-param>

  <context-param>
	<param-name>mailpwd</param-name>
	<param-value>Bjj3EqEG</param-value>
  </context-param>

  <context-param>
	<param-name>fromaddress</param-name>
	<param-value>registry@webpki.org</param-value>
  </context-param>

  <context-param>
	<param-name>signuphmackey</param-name>
	<param-value>f5l0=+/?$3*!f5h9j.DF704x7gs7h7h</param-value>
  </context-param>

  <context-param>
	<param-name>httpslogin</param-name>
	<param-value>true</param-value>
  </context-param>

  <context-param>
	<param-name>phone-internal-apps</param-name>
	<param-value>true</param-value>
  </context-param>

  <context-param>
	<param-name>exportable-keys</param-name>
	<param-value>false</param-value>
  </context-param>

  <context-param>
	<param-name>strong-crypto</param-name>
	<param-value>true</param-value>
  </context-param>

  <context-param>
	<param-name>deferred-certification</param-name>
	<param-value>false</param-value>
  </context-param>

  <context-param>
	<param-name>preset-pins</param-name>
	<param-value>false</param-value>
  </context-param>

  <context-param>
	<param-name>restricted-mode</param-name>
	<param-value>false</param-value>
  </context-param>
  
  <context-param>
    <param-name>serial-port</param-name>
    <param-value>COM3</param-value>
  </context-param>
  
  <context-param>
    <param-name>baudrate</param-name>
    <param-value>115200</param-value>
  </context-param>

<!-- Database.  There are two options, non-pooled and pooled
     using JNDI.  The section is done by defining or commenting
     out the "jndiname" parameter  -->

<!-- Database using JNDI needs only one parameter -->

  <context-param>
	<param-name>jndiname</param-name>
	<param-value>java:comp/env/jdbc/MySQLDB</param-value>
  </context-param>

<!-- Non-pooled database needs a lot of definitions to run
     BEGIN
-->

  <context-param>
	<param-name>jdbcdriver</param-name>
	<param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>

  <context-param>
	<param-name>jdbcurl</param-name>
	<param-value>jdbc:mysql://localhost:3306/WEBPKI_ORG_CA</param-value>
  </context-param>

  <context-param>
	<param-name>jdbcpassword</param-name>
	<param-value>CyberPhone1</param-value>
  </context-param>

  <context-param>
	<param-name>jdbcuser</param-name>
	<param-value>WEBPKI_ORG_CA</param-value>
  </context-param>

<!-- Non-pooled database needs a lot of definitions to run
     END
-->

  <listener>
    <listener-class>misc.Init</listener-class>
  </listener>

    <servlet>
	    <servlet-name>UserHome</servlet-name>
        <servlet-class>user.UserHome</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>UserCreateCard</servlet-name>
        <servlet-class>user.UserCreateCard</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>UserAccount</servlet-name>
        <servlet-class>user.UserAccount</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>UserChangePassword</servlet-name>
        <servlet-class>user.UserChangePassword</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>UserResetAccount</servlet-name>
        <servlet-class>user.UserResetAccount</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>UserListCredentials</servlet-name>
        <servlet-class>user.UserListCredentials</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>UserRegister</servlet-name>
        <servlet-class>user.UserRegister</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>UserSignupMessage</servlet-name>
        <servlet-class>user.UserSignupMessage</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>UserVerifyAddress</servlet-name>
        <servlet-class>user.UserVerifyAddress</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>UserUnregister</servlet-name>
        <servlet-class>user.UserUnregister</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>UserUnavailable</servlet-name>
        <servlet-class>user.UserUnavailable</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>UserLogin</servlet-name>
        <servlet-class>user.UserLogin</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>UserLogout</servlet-name>
        <servlet-class>user.UserLogout</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>MiscResources</servlet-name>
        <servlet-class>misc.MiscResources</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>MiscCertViewer</servlet-name>
        <servlet-class>misc.MiscCertViewer</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>MiscXMLViewer</servlet-name>
        <servlet-class>misc.MiscXMLViewer</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>MiscSchemaViewer</servlet-name>
        <servlet-class>misc.MiscSchemaViewer</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>MiscOTPAuth</servlet-name>
        <servlet-class>misc.MiscOTPAuth</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>AdminMain</servlet-name>
        <servlet-class>admin.AdminMain</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>AdminImpersonateUser</servlet-name>
        <servlet-class>admin.AdminImpersonateUser</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>AdminDeleteUser</servlet-name>
        <servlet-class>admin.AdminDeleteUser</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>AdminCreateUser</servlet-name>
        <servlet-class>admin.AdminCreateUser</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>AdminResetUserPassword</servlet-name>
        <servlet-class>admin.AdminResetUserPassword</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>AdminListUsers</servlet-name>
        <servlet-class>admin.AdminListUsers</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>AdminSetAvailability</servlet-name>
        <servlet-class>admin.AdminSetAvailability</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneLaunchPad</servlet-name>
        <servlet-class>phone.PhoneLaunchPad</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneMain</servlet-name>
        <servlet-class>phone.PhoneMain</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinHome</servlet-name>
        <servlet-class>phone.PhoneWinHome</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneDebugWin</servlet-name>
        <servlet-class>phone.PhoneDebugWin</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneAJAXHandler</servlet-name>
        <servlet-class>phone.PhoneAJAXHandler</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneXMLViewer</servlet-name>
        <servlet-class>phone.PhoneXMLViewer</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinOTP</servlet-name>
        <servlet-class>phone.PhoneWinOTP</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinOTPDisplay</servlet-name>
        <servlet-class>phone.PhoneWinOTPDisplay</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinKeyExplorer</servlet-name>
        <servlet-class>phone.PhoneWinKeyExplorer</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinKeyProperties</servlet-name>
        <servlet-class>phone.PhoneWinKeyProperties</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinKeyUnlock</servlet-name>
        <servlet-class>phone.PhoneWinKeyUnlock</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinCertificateProperties</servlet-name>
        <servlet-class>phone.PhoneWinCertificateProperties</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinSecurity</servlet-name>
        <servlet-class>phone.PhoneWinSecurity</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinSEProperties</servlet-name>
        <servlet-class>phone.PhoneWinSEProperties</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinApplications</servlet-name>
        <servlet-class>phone.PhoneWinApplications</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinInformationCards</servlet-name>
        <servlet-class>phone.PhoneWinInformationCards</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinJCETest</servlet-name>
        <servlet-class>phone.PhoneWinJCETest</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinDemoApplications</servlet-name>
        <servlet-class>phone.PhoneWinDemoApplications</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinNotImplemented</servlet-name>
        <servlet-class>phone.PhoneWinNotImplemented</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinQuickRun</servlet-name>
        <servlet-class>phone.PhoneWinQuickRun</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinSignatureRequest</servlet-name>
        <servlet-class>phone.PhoneWinSignatureRequest</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinKeyGen2Init</servlet-name>
        <servlet-class>phone.PhoneWinKeyGen2Init</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinKeyGen2Session</servlet-name>
        <servlet-class>phone.PhoneWinKeyGen2Session</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinKeyGen2Generate</servlet-name>
        <servlet-class>phone.PhoneWinKeyGen2Generate</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinKeyGen2DelayedGenerate</servlet-name>
        <servlet-class>phone.PhoneWinKeyGen2DelayedGenerate</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinResource</servlet-name>
        <servlet-class>phone.PhoneWinResource</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinCardSelector</servlet-name>
        <servlet-class>phone.PhoneWinCardSelector</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinAuthentication</servlet-name>
        <servlet-class>phone.PhoneWinAuthentication</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinSendMail</servlet-name>
        <servlet-class>phone.PhoneWinSendMail</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinMailAlert</servlet-name>
        <servlet-class>phone.PhoneWinMailAlert</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PhoneWinProxy</servlet-name>
        <servlet-class>phone.PhoneWinProxy</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>CredentialDeploymentRequestServlet</servlet-name>
        <servlet-class>keygen.CredentialDeploymentRequestServlet</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>DelayedCredentialDeploymentRequestServlet</servlet-name>
        <servlet-class>keygen.DelayedCredentialDeploymentRequestServlet</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>CredentialDeploymentResponseServlet</servlet-name>
        <servlet-class>keygen.CredentialDeploymentResponseServlet</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>KeyOperationRequestServlet</servlet-name>
        <servlet-class>keygen.KeyOperationRequestServlet</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PlatformNegotiationRequestServlet</servlet-name>
        <servlet-class>keygen.PlatformNegotiationRequestServlet</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>PasswordLogin</servlet-name>
        <servlet-class>keygen.PasswordLogin</servlet-class>
    </servlet>

<!-- Mapping to urls -->

   <servlet-mapping>
        <servlet-name>UserHome</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
 
    <servlet-mapping>
        <servlet-name>UserCreateCard</servlet-name>
        <url-pattern>/setupcreds</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>UserAccount</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserChangePassword</servlet-name>
        <url-pattern>/changepwd</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserResetAccount</servlet-name>
        <url-pattern>/resetacc</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserListCredentials</servlet-name>
        <url-pattern>/listcreds</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserSignupMessage</servlet-name>
        <url-pattern>/signupmsg</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserVerifyAddress</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserUnregister</servlet-name>
        <url-pattern>/unregister</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserUnavailable</servlet-name>
        <url-pattern>/unavailable</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserLogout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MiscResources</servlet-name>
        <url-pattern>/resources</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>MiscCertViewer</servlet-name>
        <url-pattern>/certviewer</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MiscXMLViewer</servlet-name>
        <url-pattern>/xmlviewer/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MiscSchemaViewer</servlet-name>
        <url-pattern>/schemaviewer/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MiscOTPAuth</servlet-name>
        <url-pattern>/misc_otpauth</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminMain</servlet-name>
        <url-pattern>/adm_main</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminImpersonateUser</servlet-name>
        <url-pattern>/adm_impersonate_user</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminDeleteUser</servlet-name>
        <url-pattern>/adm_delete_user</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminCreateUser</servlet-name>
        <url-pattern>/adm_create_user</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminResetUserPassword</servlet-name>
        <url-pattern>/adm_reset_user_pwd</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminListUsers</servlet-name>
        <url-pattern>/adm_list_users</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminSetAvailability</servlet-name>
        <url-pattern>/adm_set_availability</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneLaunchPad</servlet-name>
        <url-pattern>/phonelaunchpad</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneMain</servlet-name>
        <url-pattern>/phonemain</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinHome</servlet-name>
        <url-pattern>/phonewinhome</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneDebugWin</servlet-name>
        <url-pattern>/phonedebugwin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneAJAXHandler</servlet-name>
        <url-pattern>/phoneajaxhandler</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneXMLViewer</servlet-name>
        <url-pattern>/phonexmlviewer/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinOTP</servlet-name>
        <url-pattern>/phonewinotp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinOTPDisplay</servlet-name>
        <url-pattern>/phonewinotpdisplay</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinKeyExplorer</servlet-name>
        <url-pattern>/phonewinkeyexplorer</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinKeyProperties</servlet-name>
        <url-pattern>/phonewinkeyprops</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinKeyUnlock</servlet-name>
        <url-pattern>/phonewinkeyunlock</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinCertificateProperties</servlet-name>
        <url-pattern>/phonewincertprops</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinSecurity</servlet-name>
        <url-pattern>/phonewinsecurity</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinSEProperties</servlet-name>
        <url-pattern>/phonewinseproperties</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinApplications</servlet-name>
        <url-pattern>/phonewinapps</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinInformationCards</servlet-name>
        <url-pattern>/phonewininfocards</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinJCETest</servlet-name>
        <url-pattern>/phonewinjcetest</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinDemoApplications</servlet-name>
        <url-pattern>/phonewindemoapps</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinNotImplemented</servlet-name>
        <url-pattern>/phonewinnotimpl</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinQuickRun</servlet-name>
        <url-pattern>/phonewinquickrun</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinSignatureRequest</servlet-name>
        <url-pattern>/phonewinsignreq</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinKeyGen2Init</servlet-name>
        <url-pattern>/phonewinkg2init</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinKeyGen2Session</servlet-name>
        <url-pattern>/phonewinkg2session</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinKeyGen2Generate</servlet-name>
        <url-pattern>/phonewinkg2generate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinKeyGen2DelayedGenerate</servlet-name>
        <url-pattern>/phonewinkg2delayedgenerate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinResource</servlet-name>
        <url-pattern>/phonewinresource</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinCardSelector</servlet-name>
        <url-pattern>/phonewincardsel</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinAuthentication</servlet-name>
        <url-pattern>/phonewinauthentication</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinSendMail</servlet-name>
        <url-pattern>/phonewinsendmail</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinMailAlert</servlet-name>
        <url-pattern>/phonewinmailalert</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhoneWinProxy</servlet-name>
        <url-pattern>/phonewinbrowser/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CredentialDeploymentResponseServlet</servlet-name>
        <url-pattern>/kg2_finish</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DelayedCredentialDeploymentRequestServlet</servlet-name>
        <url-pattern>/delayed_kg2_deploy</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CredentialDeploymentRequestServlet</servlet-name>
        <url-pattern>/kg2_deploy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KeyOperationRequestServlet</servlet-name>
        <url-pattern>/kg2_generate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PlatformNegotiationRequestServlet</servlet-name>
        <url-pattern>/kg2_init</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PasswordLogin</servlet-name>
        <url-pattern>/kg2_login</url-pattern>
    </servlet-mapping>

</web-app>
